#restaurant-info {
  font-family: signpainter;
  color: #EF4135;
}
#restaurant-info h1 {
font-size: 90px;
margin-bottom: 0px;
}

#restaurant-info h3 {
font-family: Arial;
color: white;
letter-spacing: 12px;
background-color: #EF4135;
padding: 6px 0px;
margin-top: 0px;
}

#restaurant-info h4 {
font-family: Arial;
font-weight: bold;
}

#restaurant-info .header-side-panel {
margin-top: 107px;
font-family: Arial;
border-top: 1px solid #EF4135;
border-bottom: 1px solid #EF4135;
}

#restaurant-info .header-side-panel h5{
font-weight: bold;
}

#nav{
margin-top: 30px;
margin-bottom: 10px;
}

#order-online {
  background: #f00;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

#nav a{
font-weight: bold;
color: #EF4135;
font-size: 17px;
display: block;
transition: all .3s ease;
}

#nav a:hover{
text-decoration: none;
background: #EEE;
}

#nav a:visited{
color: #EF4135;
}
